@import 'variables';

.layout-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: $gray;

  .layout-content {
    width: 100%;
    max-width: $max-desktop-width;
    min-height: 100vh;
    background-color: white;
  }
}