.modal-background {
  display: flex;
  // align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0,0%,94.9%,.9);
  z-index: 1;

  .modal-child {
    margin: 76px 0 30px;
    padding: 25px;
    height: 500px;
    width: 450px;
    background-color: #ffffff;
  }
}