@import "variables";

// .audio-play, .audio-pause {
//   background-color: $orange;
//   color: white;
//   height: 50px;
//   width: 100px;
// }

.play-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  // height: 36px;
  // width: 36px;
  // background-color: $orange;
}

.audio-play,
.audio-pause {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: transparent;
  border: none;
  outline: none;
  filter: invert(49%) sepia(72%) saturate(1658%) hue-rotate(338deg)
    brightness(101%) contrast(99%);
}

.audio-play {
  background-image: url("play-circle-solid.svg");
  // height: 90%;
  // width: 90%;
}

.audio-pause {
  background-image: url("pause-circle-solid.svg");
}

.audio-play:hover,
.audio-pause:hover {
  cursor: pointer;
  filter: invert(93%) sepia(90%) saturate(5052%) hue-rotate(269deg)
    brightness(110%) contrast(105%);
}
