$max-desktop-width: 1240px;
$max-tablet-width: 1080px;
$max-content-width: 1180px;
$header-height: 46px;

// colors
$orange: #fe6d35;
$nav-bar-color: #333333;
$gray: #f2f2f2;

$font: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;