$max-desktop-width: 1240px;
$max-tablet-width: 1080px;
$max-content-width: 1180px;
$header-height: 46px;

// colors
$orange: #fe6d35;
$nav-bar-color: #333333;
$gray: #f2f2f2;

$font: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
  Verdana, Tahoma, sans-serif;

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%simple-btn {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
}